.container
{
    width: 1140px;
    overflow: auto;
    
}

.blog-post
{
    padding: 5px;
    margin-right: 5px;
    width: 70%;
    border: 1px solid green;
    float: left;
}

.blog-post div
{
    border: 1px solid green;
}

.others
{
    padding: 5px;
    margin-left: 5px;
    width: 25%;
    border: 1px solid blue;
    float: left;
}
.tags
{
    padding: 5px;
    margin-left: 5px;
    width: 25%;
    border: 1px solid orange;
    float: left;
}